trigger: none

pool: Latest-Pool

stages:
  - stage: TerraformInitStage
    displayName: initwalistage
    jobs:
      - job: FirstJob
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'